.nav-bar{
	border: 1px solid black;
	padding: 5px 30px;
	width: 90%;
	height: 80px;
	margin:auto;
	margin-top: 40px;
	box-sizing:  border-box;
	position: relative;
	.navimage{
		height: 70px;
		width: 70px;
		float: left;
	}
	.navlinks{
		display:flex;
		font: 10px;
		padding: 20px;
		position: absolute;
		top:0;
		right:0;
		.navlink{
			padding: 10px;
			font-family: 'Montserrat', sans-serif;
			font-size: 13px;
			transition: 0.5s;
			&:hover{
				border-bottom: 5px solid blue;
				padding-bottom: 2px; 
			}

		}
		.navbutton{
			border: 1px solid #bbb;
			border-radius: 20px;
			padding: 10px 20px;
			font-family:'Montserrat', sans-serif;
			font-size: 13px;
			margin: auto;
			transition: 1s;
			&:hover{
				background-color: #D4D4D4;

			}

		}
	}	

}

.sliderlai{
	border: 1px solid black;
	border-top: 0;
	width: 90%;
	height: 400px;
	margin:auto;
	box-sizing: border-box;
	position: relative;
	background-image: url(../images/slider.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	.slidernext1{
		width: 10%;
		margin: 0px;
		height: 400px;
		transition: 1s;
		&:hover{
				background-color: #171819;
				opacity: 0.2
		}
		.fas{
				padding-top: 170px;
				padding-left: 30px;
		}
	}

	.slidernext2{
		position:absolute;
		top:0;
		right:0;
		width: 10%;
		margin: 0px;
		height: 400px;
		transition: 1s;
		&:hover{
				background-color: #171819;
				opacity: 0.2
		}
		.fas{
				padding-top: 170px;
				padding-left: 30px;
		}


	}
	.sliderinfos{
		width:80%;
		margin:auto;
		margin-right: 10%;
		padding-top: 100px;
		height: 400px;
		position: relative;
		.sliderhead{
			text-align: center;
			font-family:'Montserrat', sans-serif;
			font-size: 20px;

		}
		.sliderinfo{
			text-align: center;
			font-family:'Montserrat', sans-serif;
			font-size: 14px;
		}
		.sliderbuttons{
			width: max-content;
			margin: auto;
			display: flex;
			margin-top: 10px;
			.sliderbutton{
				border: 1px solid black;
				border-radius: 20px;
				font-family:'Montserrat', sans-serif;
				font-size: 14px;
				width :max-content;
				padding:10px;
				transition: 0.5s;
				margin-right: 3px;
				&:hover{
					background-color: #D4D4D4;
					color: white;
				}
			}
			
		}

		.sliderfootericons{
			position: absolute;
			bottom: 100px;
			right: 45%;	
			.fab{
				padding:10px;
			}

		}		

	}

}

.mainbody{
	display: flex;
	padding: 20px 150px;
	justify-content: space-between;
	@media only screen and (max-width: 767px){
		display: block;
		padding: 3px;
	}
	.mainbody--left{
		flex: 3;
		padding-left: 20px;
		font-family:'Montserrat', sans-serif;
		font-size: 14px;
		border-right: 1px solid black;
		@media only screen and (max-width: 768px){
			border-right: none;
		}
		.mainbodyleftimg{
			height:250px;
			width:95%;
			background-image: url(../images/company.jpg);
			background-size: cover;
		}

		.mainbodyleftbut{
			border: 1px solid black;
			border-radius: 20px;
			padding:10px;
			text-align: center;
			height : 20px;
			font-family:'Montserrat', sans-serif;
			font-size: 14px;
			margin: auto;
			margin-right: 600px;
			transition: 1s;
			&:hover{
			background-color: #D4D4D4;
			}
		}

		.bodyboxes{
			display:flex;
			flex-wrap: wrap;
			.bodybox{
				border:1px solid black;
				position: relative;
				margin:10px 10px;
				width: 46%;
				@media only screen and (max-width: 768px){
					width: 95%;
					margin: auto;
				}
				&img{
					width:100%;
					height:300px;
					background-position: center;
					background-size: cover;
					&1{
						background-image: url(../images/ceo.jpg);
					}

					&2{
						
						background-image: url(../images/manager.jpg);
						
					}

					&3{
						background-image: url(../images/hr.jpeg);
					}

					&4{
						background-image: url(../images/employee.jpg);
					}
				}
			}
			.bodyboxhead{

				padding: 3px;
			}

			.bodyboxinfo{
				font-family:'Montserrat', sans-serif;
				font-size: 14px;
				padding: 3px;
			}

			.bodyboxprof{
				border:1px solid black;
				border-radius: 50%;
				padding: 20px;
				float:left;
				margin-left: 10px;
			}

			.bodyboxprofname{
				font-family:'Montserrat', sans-serif;
				font-size: 14px;
			}

			.bodyboxbut{
				border: 1px solid black;
				border-radius: 20px;
				padding:10px;
				font-family:'Montserrat', sans-serif;
				font-size: 14px;
				transition: 1s;
				position: absolute;
				bottom :40px;
				right:30px;
				&:hover{
					background-color: #D4D4D4;

				}
			}

		}
		
	}
	.mainbody--right{
		padding-left: 20px;
		flex: 1;
		font-family:'Montserrat', sans-serif;
		font-size: 14px;
		.bodysearch{
			text-align: center;
			& input{
				width:85%;
				height: 30px;
			}
			.search-icon{
				position: relative;
				right: 30px;
			}
		}
		.advertise{
			border:1px solid black;
			width: 100%;
			height:250px;
			margin:20px;
			background-image: url("../images/ad.gif");
			@media only screen and (max-width: 768px){
				width: 75%;
				margin: auto;
			}
		}
	}
}

.footer-wrapper{
	width:100%;
	background-color: #ece9e9;
	.footer{
		max-width: 1170px;
		margin:auto;
		position: relative;
		box-sizing: border-box;
		padding-bottom: 1px;
		&image{
			padding-left: 200px;
			padding-top:40px;
			height: 70px;
			width: 80px;
			display: block;
		}
		&info{
			padding-left:30px;
			width:38%;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
		}
		&icons{
			padding-left: 30px;
			.footericon{
				padding: 20px;
				.fab{
					padding: 7px;
					@media only screen and (max-width: 768px){
						margin-right: 10px;
					}
				}
			}
		}
		&links{
			position: absolute;
			top:50px;
			right:100px;
			display: flex;
			.footerlink1{
				padding: 20px;
				font-family: 'Montserrat', sans-serif;
				font-size: 14px;
				& ul{
					list-style-type: none;
					padding: 0px;
					&:hover{
						text-decoration-color: green;
					}

				}
			}
		}
		.copyrightlai{
			text-align: center;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
		}


	}

}

